* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* ::-webkit-scrollbar {
    width: 8px;
    background-color: #eee;
}

* ::-webkit-scrollbar-track {
    background-color: #ccc;
}

* ::-webkit-scrollbar-thumb {
    background-color: var(--color);
    border-radius: 5px;
}

 :root {
    --color: #8A6338;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
    overflow-x: hidden !important;
}

h1 {
    font-size: 24px;
}

p {
    font-size: 15px;
    line-height: 25px;
    color: #8A6338;
    text-align: justify;
}

a {
    text-decoration: none;
    color: #595959;
}

img {
    max-width: 100%;
    height: auto;
}

li {
    list-style-type: none;
}

hr {
    width: 100%;
    border: 0;
    border-top: 1px solid var(--color);
}

.container {
    width: 80%;
    margin: auto;
}

.circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 15px 0;
    border-radius: 50%;
    background-color: var(--color);
}

.btn {
    padding: 12px 20px;
    outline: none;
    border: 2px solid var(--color);
    border-radius: 5px;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    transition: 1s;
}

.btn:hover {
    background-color: var(--color);
}

.line {
    line-height: 8px;
}

.line1,
.line2,
.line3 {
    display: inline-block;
    background-color: var(--color);
}

.line1 {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-top: 3px;
}

.line2 {
    width: 80px;
    height: 1px;
}

.line3 {
    width: 60px;
    height: 1px;
}

.logo {
    width: 300px;
    height: 150px;
    margin: 10px 0;
}

.header-content {
    max-width: 600px;
    margin-top: 10px;
}

.explore-now {
    margin: 20px 0 30px 0;
}

.headerimg {
    position: absolute;
    width: 400px;
    right: 0;
    top: 50px;
}


/*Header Finish*/


/*Side Nav*/

#sideNav {
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background-color: var(--color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

#sideNav ul li {
    margin: 30px;
}

#sideNav ul li:first-child {
    margin-top: 45px;
}

#sideNav ul li a {
    color: black;
}

#menuBtn {
    position: fixed;
    right: 40px;
    top: 30px;
    z-index: 1;
    cursor: pointer;
}


/*Side Nav Finish*/


/*Footer*/

#footer {
    margin: 40px 0;
}

.footer-row,
.footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-left {
    flex-basis: 30%;
}

.footer-right {
    flex-basis: 70%;
    margin-top: 50px;
}

.link-title h4 {
    margin-bottom: 15px;
    color: var(--color);
}

.copyright small,
.link-title small {
    display: block;
    font-size: 14px;
    color: #595959;
    line-height: 1.8;
}


/*Menu*/

.section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #8A6338;
}

.section-header h1 {
    font: 400 32px "Montserrat", sans-serif;
    text-transform: uppercase;
    color: #fff;
}

.video-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    grid-gap: 15px;
    max-width: 1100px;
    padding: 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.video-gallery .gallery-item {
    position: relative;
    width: 100%;
    height: 300px;
    background: #000;
    cursor: pointer;
    overflow: hidden;
}

.video-gallery .gallery-item img {
    position: relative;
    display: block;
    width: 115%;
    height: 300px;
    object-fit: cover;
    opacity: .5;
    /*transition: opacity .35s, transform .35s;*/
    transition: all 350ms ease-in-out;
    transform: translate3d(-23px, 0, 0);
    /*backface-visibility: hidden;*/
}

.north-cascades-img {
    object-position: 50% 30%;
}

.video-gallery .gallery-item .gallery-item-caption {
    padding: 32px;
    font-size: 1em;
    color: #fff;
    text-transform: uppercase;
}

.video-gallery .gallery-item .gallery-item-caption,
.video-gallery .gallery-item .gallery-item-caption>a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-gallery .gallery-item h2 {
    font-weight: 300;
    overflow: hidden;
    padding: 12px 0;
}

.video-gallery .gallery-item h2,
.video-gallery .gallery-item p {
    position: relative;
    margin: 0;
    z-index: 1;
    pointer-events: none;
}

.video-gallery .gallery-item p {
    letter-spacing: 1px;
    font-size: 12px;
    padding: 12px 0;
    opacity: 0;
    transition: opacity 0.35s, transform 0.35s;
    transform: translate3d(10%, 0, 0);
}

.video-gallery .gallery-item:hover img {
    opacity: 0.3;
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item .gallery-item-caption {
    text-align: left;
}

.video-gallery .gallery-item h2::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 15%;
    height: 1px;
    background: #fff;
    transition: transform 0.3s;
    transform: translate3d(-100%, 0, 0);
}

.video-gallery .gallery-item:hover h2::after {
    transform: translate3d(0, 0, 0);
}

.video-gallery .gallery-item:hover p {
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

@media screen and (max-width: 784px) {
    .video-gallery {
        width: 100%;
        padding: 15px;
    }
    .video-gallery .gallery-item {
        width: 95%;
        margin: 0 auto;
        width: 100%;
    }
}


/*Social Icons*/

.social-icon {
    position: fixed;
    top: 40%;
    left: 0;
    z-index: 1;
}

.social-icon a {
    display: block;
    margin: 0 0 15px 20px;
    font-size: 25px;
    cursor: pointer;
}

.fa-brands:hover {
    transform: scale(1.2);
}